body{
    font-family: 'Segoe UI',Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;

}
h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6em;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background: #333;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: #4a4a4a;
}


.logo{
    letter-spacing: 15px;
    font-size: 1.2em;
}

.menu-icon{
    display: none;
}

.main{
    padding-top: 10rem;
}
iframe {
    width: 47em;
    height: 20em;
}
.footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

.col1 {
    background: white;
    width: 40%;
 }
 .col2 {
    border: white;
    background: white;
    width: 60%;
 }

 .col1info {
    background: white;
    width: 60%;
 }
 .col2info {
    border: white;
    background: white;
    width: 40%;
 }

 .row {
   display: flex;
   width: 80%;
 }
 .rowinfo {
    display: flex;
    width: 60%;
  }

 .slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}
*{
    margin:0px;
    padding:0px;
    font-family: helvetica;
}


div#body{
    margin:40px auto;
    width:600px;
    min-height:50px;
    overflow: hidden;
    border-radius: 5px;
}

div.subapartado{
    width:600px;
    min-height:50px;
    background-color: green;
    -webkit-transiton: height 0.2s;
}

div.titulo{
    width:600px;
    height:50px;
    background-color: #24c06f;
    overflow: hidden;
    border-bottom: 1px solid #39f58f;
}

p.titulo{
    margin:13px;
    color: white;
}

div.info{
    width:600px;
    height:0px;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: height 0.2s;
}

p.info{
    margin:20px;
    text-align: center;
    color:#4f4f4f;
}

div.subapartado:hover div.info{

    height:180px;

}
.title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
}

.info_page {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/*
---------------------------------------------
        ANIMACIÓN
---------------------------------------------
*/

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*
--------------------------------------
       PARA DISPOSITIVOS MOVILES
--------------------------------------

*/

@media only screen and (max-width : 767px){

    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
       display: none; 
    }

    .navigation ul.show {
        display: block; 
     }
    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover{
        background: #4a4a4a;
    }
}
    
